.logout-button {
    padding: 0.75rem 1.5rem;
    background-color: #1f3a4a;
    border: 2px solid #a8e6cf;
    border-radius: 25px;
    color: #a8e6cf;
    font-size: 1.2rem;
    font-family: 'Mountains of Christmas', cursive;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 200px;
}

/* Submit button hover effect */
.logout-button:hover {
        background-color: #1a2a3a; /* Darker shade on hover */
        box-shadow: 0 4px 8px rgba(255, 255, 255, 0.4);
        transform: scale(1.05);
    }

/* Submit button active effect */
.logout-button:active {
        transform: scale(0.95);
    }
